name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      BUILD_ONLY_NATIVE: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Build Core
        run: bun run build:core

      - name: Build Plugins (Linux only)
        if: matrix.os == 'ubuntu-latest'
        run: bun run build:plugins

      - name: Set executable permissions (Linux only)
        if: matrix.os == 'ubuntu-latest'
        run: chmod +x dist/plugin-b-linux*

      - name: Upload Linux Artifacts
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-linux
          path: |
            dist/plugin-b-linux*
            dist/plugins.zip

      - name: Upload Windows Artifacts
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-windows
          path: dist/plugin-b.exe

      - name: Set executable permissions (Mac only)
        if: matrix.os == 'macos-latest'
        run: chmod +x dist/plugin-b-mac*

      - name: Upload Mac Artifacts
        if: matrix.os == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-mac
          path: dist/plugin-b-mac*

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-artifacts

      - name: Display Downloaded Files
        run: ls -R all-artifacts

      - name: Flatten Artifacts
        run: |
          mkdir release_assets
          find all-artifacts -type f -not -path "*/.*" -exec cp {} release_assets/ \;

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: release_assets/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
